.Converter {
    width: 100%;
    padding: 0 25%;
    box-sizing: border-box; 
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.Form {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.Form input, select {
    padding:10px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(119, 119, 119, 0.5);
}

.Form button {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #93F77D;
    border: none;
    font-size: 1em;
    margin: 0px 11px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.Converter h3 {
    background-color: #D3F0F7;
    border-radius: 10px;
    line-height: 1.8em;
    font-size: 1.7em;
}

